.st-cont-marquee {
	display:flow-root;
	h2 {
		line-height: 1;
		font-weight: 600;
		font-size: 120px;
		margin-bottom: 0;
		display: inline-block;
		color: #101E2D3D;
		&:nth-child(3),
		&:nth-child(5) {
			color: #00161A;
		}
	}
	i {
		top: -15px;
		width: 56px;
		height: 56px;
		color: #00161A;
		margin: 0 30px;
		font-size: 25px;
		position: relative;
		text-align: center;
		border-radius: 100%;
		line-height: 56px;	
		display: inline-block;
		transform: rotate(-45deg);
		background-color: var(--st-prime-c2);
	}
}
.st-cont-content {
	z-index: 1;
	.st-cont-bg {
		left: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

.st-cont-form {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
	border-radius: 16px;
	background-color: #fff;
	.item-field {
		margin-top: -1px;
		margin-right: -1px;
		padding: 40px 40px 25px;
		border-right: 1px solid rgba(0, 22, 26, .24);
		border-top: 1px solid rgba(0, 22, 26, .24);
		label {
			color: #00161A;
			display: block;
			font-size: 18px;
			font-weight: 500;
		}
		input,textarea {
			width: 100%;
			border: none;
		}
		textarea {
			height: 150px;
		}
	}
	.item-btn {
		padding: 30px 40px;
		border-top: 1px solid rgba(0, 22, 26, .24);
		button {
			gap: 16px;
			color: #fff;
			border: none;
			font-size: 16px;
			display: flex;
			font-weight: 600;
			align-items: center;
			border-radius: 6px;
			justify-content: center;
			padding: 10px 10px 10px 20px;
			font-family: var(--st-heading);
			background-color: var(--st-prime-c);
			transition: all 500ms ease-in-out;
			i {
				width: 32px;
				height: 32px;
				display: flex;
				border-radius: 4px;
				align-items: center;
				justify-content: center;
				background-color: #fff;
			}
			&:hover {
				background-color: var(--st-title-color);
			}
		}
	}
}