.st-solution-sec {
	z-index: 1;
	.st-sol-img {
		bottom: 0;
		right: -5%;
		z-index: -1;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.st-solution-card-wrap {
	gap: 16px;
	@media #{$md,$sm,$xs,$xxs} {	
		padding-top: 40px;
	}
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.st-sol-card {
	width: 190px;
	height: 220px;
	background-color: #fff;
	border: 8px solid #EFEFEF;
	transition: all 500ms ease-in-out;
	@media #{$md} {
		width: 33%;
	}
	@media #{$sm} {
		width: 48%;
	}
	@media #{$xs,$xxs} {
		width: 100%;
	}
	h3 {
		line-height: 1;
		font-size: 52px;
		font-weight: 500;
		padding: 25px 25px 20px;
		transition: all 300ms ease-in-out;
		sub {
			top: -12px;
			font-size: 34px;
			margin-left: 5px;
			color: var(--st-prime-c);
			transition: all 300ms ease-in-out;
		}
	}
	p {
		padding: 14px;
		font-size: 16px;
	}
	&:hover {
		border: 8px solid var(--st-prime-c);
		h3 {
			color: var(--st-prime-c);
			sub {
				color: #575B59;
			}
		}
	}
}
.st-solution-text {
	max-width: 605px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

.st-video-sec {
	.item-video {
		width: 100%;
		height: 780px;
		@media #{$sm,$xs,$xxs} {
			height: 400px;
		}
	}
}
.st-cl-item {
	margin-left: -1px;
	position: relative;
	&:before,
	&:after {
		top: 9px;
		left: 9px;
		width: 6px;
		height: 6px;
		content: '';
		position: absolute;
		border-radius: 100%;
		background-color: #CDD4D7;
		box-shadow: 0px 4px 4px 0px #0000001F inset;
	}
	&:after {
		right: 9px;
		left: auto;
	}
	.item-img {
		display: flex;
		height: 132px;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		border: 1px solid rgba(15, 49, 58, 0.16);
		position: relative;
		img {
			transition: all 500ms ease-in-out;
		}
		&:before,
		&:after {
			bottom: 9px;
			left: 9px;
			width: 6px;
			height: 6px;
			content: '';
			position: absolute;
			border-radius: 100%;
			background-color: #CDD4D7;
			box-shadow: 0px 4px 4px 0px #0000001F inset;
		}
		&:after {
			right: 9px;
			left: auto;
		}
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}