.st-team-sec {
	.container {
		max-width: 1424px;
	}
}
.st-team-top {
	gap: 30px;
	.st-sec-title {
		max-width: 620px;
		.sec_title {
			font-size: 44px;
			@media #{$md} {
				font-size: 42px;
			}
			@media #{$sm} {
				font-size: 40px;
			}
			@media #{$xs} {
				font-size: 36px;
			}
			@media #{$xxs} {
				font-size: 32px;
			}
			@media #{$xxxs} {
				font-size: 30px;
			}
		}
	}
	.team-desc {
		max-width: 510px;
	}
}