.st-wc-content {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.st-wc-title {
	z-index: 1;
	width: 100%;
	display: flex;
	max-width: 520px;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	.st-sec-title {
		.sec_title {
			font-size: 60px;
			font-weight: 700;
			.split-line {
				padding: 5px 12px;
				border-radius: 12px;
				margin-bottom: -5px;
				background-color: #fff;
				display: inline-block !important;
			}
		}
	}
	.wc-title-desc {
		max-width: 340px;
	}
	.st-btn {
		a {
			&:before {
				background-color: var(--st-title-color);
			}
		}
	}
}
.st-wc-list-area {
	padding-top: 80px;
	margin-left: 45px;
	@media #{$xl} {
		margin-left: 20px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 0;
	}
}
.st-wc-img {
	max-width: 560px;
	overflow: hidden;
	border-radius: 12px;
	margin-left: -150px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
	}
}
.st-wc-list {
	max-width: 416px;
	margin-bottom: 58px;
	@media #{$xl} {
		margin-bottom: 20px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-bottom: 0;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	&:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-size: 22px;
		font-weight: 600;
		padding-bottom: 15px;
	}
	p {
		font-size: 16px;
	}
}
.st-scroller-wrap {
	padding: 0px 24px;
}
.st-scroller {
	overflow: hidden;
	display: flow-root;
	border-radius: 16px;
	padding: 25px 0px 0px;
	background-color: var(--st-prime-c2);
	h2 {
		line-height: 1;
		font-size: 52px;
		font-weight: 700;
		display: inline-block;
	}
	i {
		top: -10px;
		width: 72px;
		height: 72px;
		margin: 0px 30px;
		position: relative;
		display: inline-block;
	}
}