.st-footer-sec {
	background-color: #00161A;
}
.lg-ft-widget-area {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.lg-ft-widget {
	.logo-widget {
		max-width: 360px;
		p {
			color: #fff;
		}
	}
}
.ed-footer6-widget-cont {
	gap: 30px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.ed-footer6-widget-area {
	width: 100%;
	max-width: 780px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 700px;
	}
	.ed-footer6-widget-cont {
		@media #{$xs,$xxs} {
			gap: 30px;
			flex-wrap: wrap;
		}
	}
}
.ed-footer-1-menu li .has-dropdown {
	padding-top: 14px;
	padding-left: 20px;
	display: none;
}

.ed-footer5-widget {
	margin-bottom: 30px;
	@media #{$xxs} {
		width: 100%;
	}
	.widget-title {
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 20px;
		color: rgba(255, 255, 255, .64);
	}
	.ed-ft-img {
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.menu-widget {
		li {
			font-weight: 500;
			margin-bottom: 12px;
			a {
				color: rgba(255, 255, 255, .8);
				position: relative;
				&:hover {
					color: var(--st-prime-c);
					transform: translateX(5px);
				}
			}
			&:is(.dropdown) {
				a {
					&:before {
						top: 3px;
						color: rgba(255, 255, 255, .8);
						right: -16px;
						font-size: 12px;
						content: '\f078';
						font-weight: 700;
						position: absolute;
						font-family: 'Font Awesome 6 Free';
					}
				}
			}
			.has-dropdown {
				padding-left: 0;
				a {
					font-size: 16px;
					color: rgba(255, 255, 255, 1);
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.menu-widget-2 {
		li {
			margin-bottom: 12px;
			a {
				padding-left: 14px;
				position: relative;
				color: rgba(255, 255, 255, .8);
				&:before {
					left: 0;
					top: 10px;
					width: 6px;
					height: 6px;
					content: '';
					position: absolute;
					border-radius: 100%;
					background-color: #fff;
				}
				&:hover {
					color:  var(--st-prime-c);
					transform: translateX(5px);
				}
			}
		}
	}
	.cta-widget {
		max-width: 260px;
		.cta-info-item {
			gap: 10px;
			margin-bottom: 12px;
			.item-icon {
				width: 20px;
				font-size: 16px;
				margin-top: 3px;
				i {
					color: var(--st-prime-c)
				}
			}
			.item-text {
				max-width: 224px;
				color: rgba(255, 255, 255, .80);
			}
		}
	}
} 
.st-ftr-copyright {
	@media #{$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.ftr-social {
	gap: 12px;
	display: flex;
	a {
		color: #fff;
		width: 44px;
		height: 44px;
		display: flex;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
		background-color: #293B3F;
		&:hover {
			background-color: var(--st-prime-c);
		}
	}
}
.ftr-devider {
	width: 100%;
	height: 2px;
	display: flex;
	align-items: center;
	max-width: 710px;
	i {
		width: 100%;
		height: 2px;
		max-width: 710px;
		opacity: .5;
		display: inline-block;
		background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #00161A 100%);
	}
}
.ftr-copy-text {
	font-size: 16px;
	span {
		color: rgba(255, 255, 255, 0.8);
	}
	a {
		color: rgba(255, 255, 255, 1);
	}
}
.st-ftr-text {
	position: relative;
	h2 {
		font-size: 340px;
		font-weight: 700;
		line-height: 1.5;
		position: relative;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		&:before {
			left: 0;
			top: 120px;
			width: 100%;
			height: 250px;
			content: '';
			position: absolute;
			background: linear-gradient(180deg, #00161A 0%, rgba(0, 22, 26, 0) 100%);
		} 
	}
	.st-ftr-border {
		left: 0;
		width: 100%;
		bottom: 58px;
		height: 74px;
		position: absolute;
		span {
			height: 6px;
			width: 100%;
			margin-bottom: 8px;
			background-color: #cfcfcf;
			&:nth-child(2) {
				margin-bottom: 12px;
			}
			&:nth-child(3) {
				margin-bottom: 16px;
			}
		}
	}
}