/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Solution area*/
/*----------------------------------------------------*/
@import "home_1/solution";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*work process area*/
/*----------------------------------------------------*/
@import "home_1/work-p";
/*---------------------------------------------------- */
/*Why choose area*/
/*----------------------------------------------------*/
@import "home_1/why-c";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_1/testi";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_1/contact";
/*---------------------------------------------------- */




/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */